@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin-left: 29px ;
}
.appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  box-shadow: none;
  width: 100%;
}

.linkFormContainer {
  border: 1px solid grey;
  width: 100%;
  border-radius: 8px 8px 0 0 ;
  padding: 1rem;
}

.linkForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkForm input[type=text]{
  line-height: 1.8;
}

.shortURLButton {
  border: none;
  border-radius: 8px;
  line-height: 30px;
  padding: 0 0.8rem;
  background: #063970;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}

.shortURLButton:hover {
  background: #0a5eb8;
}

.shortURLButton:active{
  background: #063970;
}

.shrinkedURLContainer {
  border-right:1px solid grey;
  border-left:1px solid grey;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.shortenedURLContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.shortenedURL {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #063970;
  cursor: pointer;
  font-weight: 900;
  transition: color 0.1s;
  margin-left: 3rem !important; 
}

.shortenedURL:hover {
  color: #0a5eb8;
}

.URLHistoryContainer {
  border: 1px solid grey;
  border-radius: 0 0 8px 8px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.URLHistoryContainer li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-left: -2.5rem;
}

.URLHistoryContainer li + li {
  margin-top: 0.4rem;
}

.historyLink {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.originalLink {
  font-size: 14px;
  color: #777;
  word-wrap: break-word;
  margin-bottom: 5px;
  pointer-events: none;
}

.timestamp {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

.loadingText {
  font-style: italic;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortenedLinkText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #063970;
  word-wrap: break-word;
  margin-top: 5px;
  transition: color 0.1s;
}

.shortenedLinkText:hover {
  color: #0a5eb8;
}

.shortenedURLContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shortenedURL {
  text-decoration: none;
  color: #063970;
  cursor: pointer;
  font-weight: 900;
  margin: 0 auto;
  transition: color 0.1s;
}

.shortenedURL:hover {
  color: #0a5eb8;
}

.spinner {
	width: 30px;
	height: 30px;
	border: 4px solid #ccc;
	border-top: 4px solid #0a5eb8;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 0 auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}